[submodule "Huffman-Coding-In-Java"]
	path = Huffman-Coding-In-Java
	url = https://github.com/yugokato/Huffman-Coding-In-Java.git
[submodule "Reference-Huffman-coding"]
	path = Reference-Huffman-coding
	url = https://github.com/nayuki/Reference-Huffman-coding.git
[submodule "Fractional-Knapsack"]
	path = Fractional-Knapsack
	url = https://github.com/amirhossein-hkh/Fractional-Knapsack.git
[submodule "knapsack-greedy"]
	path = knapsack-greedy
	url = https://github.com/ashsepra/knapsack-greedy.git
